musicants.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="celebrations">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="repetative" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="instrument"/>
              <xs:element type="xs:decimal" name="musicants"/>
              <xs:element type="xs:decimal" name="persons"/>
              <xs:element type="xs:decimal" name="happiness"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

